## Strings
String is a array of characters
In PYTHON we can't do this
    s="Rishav"
    s[3]=p   ;Not pssbl

In [3]:
ord("a") # Returns the ASCII value of the character

97

In [5]:
chr(99) #Returns the corresponding character to a integer value

'c'

In [9]:
#String can be defined in the following ways
a="Hello Python"
b='Hi Python'
c='''
    Multiple
    Line Input
    present here
'''
print(c)
d = """
    Another Way to
    reprsent strings
    in Python
"""

    Multiple
    Line Input
    present here

In [10]:
print(d)

    Another Way to
    reprsent strings
    in Python

## String Operations
### 1.format strings

In [11]:
name="Rishav"
sem=5
cgpa=8.67

In [13]:
# 1st way is concatination of the strings using the '+' operator and str conversion of variables
print("My name is "+str(name)+".I am currently in "+str(sem)+"th semester and my cgpa is "+str(cgpa))

My name is Rishav.I am currently in 5th semester and my cgpa is 8.67

In [17]:
#2nd way is to use C Language like syntax
print("My name is %s.I am currently in %dth semester and my cgpa is %0.2f"%(name,sem,cgpa))

My name is Rishav.I am currently in 5th semester and my cgpa is 8.67

In [18]:
# 3rd way is to use format function
print("My name is {}. I am currently in {}th semester and my cgpa is {}".format(name,sem,cgpa))

My name is Rishav. I am currently in 5th semester and my cgpa is 8.67

In [19]:
# 4th way is to use formated strings or F-strings
print(f"My name is {name}.I am currently in {sem}th semester and my cgpa is {cgpa}.")

My name is Rishav.I am currently in 5th semester and my cgpa is 8.67.

### 2. strip()
strip function is used to remove extra white spaces from the string. lstrip-->remove left white space.  rstrip-->remove right white space.

In [22]:
s=input("Enter your choice: ")

if(s=="yes"):
    print("Correct")
else:
    print("Incorrect")

Enter your choice: yes
Incorrect

In [24]:
p=input("Enter your choice: ")
p=p.strip()
if(p=="yes"): # or we could have done if(p.strip()=="yes")
    print("Correct")
else:
    print("Incorrect")

Enter your choice:  yes
Correct

### 3.split()
split() is used to break the strings into several parts based on some given operators

In [27]:
r="My favourite band is Linkin Park"
print(r.split(" ")) #Splits the string on every space present

['My', 'favourite', 'band', 'is', 'Linkin', 'Park']

In [28]:
print(r.split("a")) #Splits the string on occurence of every 'a' and doesn't include 'a'

['My f', 'vourite b', 'nd is Linkin P', 'rk']

### 4.replace()

In [29]:
name="My name is Slim Shady"
new_name=name.replace("Shady","Kumar")
print(new_name)

My name is Slim Kumar

In [30]:
print(name)

My name is Slim Shady

In [33]:
name=name.replace("Shady","Sharma")
name

'My name is Slim Sharma'