## Lists
List is a data structure in Python which can represented by:
l=[1,4,2,3]
Properties:
    1.Ordered:Position of element remain the same
    2.Mutable: The elements of the list can be changed
    3.Access via Index is possible-->print(l[2])
    4.Heterogenous:In a single list , various data type elements can be stored

In [1]:
l=[1,2.6,"Rishav",print]
l[1]

2.6

In [3]:
l[3]("Hello")

Hello

### Basic Operations
### 1. Length

In [5]:
len(l)

4

In [7]:
#2.Concatenation
l+l

[1, 2.6, 'Rishav', <function print>, 1, 2.6, 'Rishav', <function print>]

In [8]:
#
l*3

[1,
 2.6,
 'Rishav',
 <function print>,
 1,
 2.6,
 'Rishav',
 <function print>,
 1,
 2.6,
 'Rishav',
 <function print>]

In [11]:
#Membership
1 in l

True

In [12]:
#Iterating the List
for x in l:
    print(x)

1
2.6
Rishav
<built-in function print>

In [13]:
a=[1,2,3,4,5]
#SLICING
a[-1]

5

In [14]:
a[-2]

4

In [16]:
a[2:4] #slice the list from a[2] to a[3] [2,4)

[3, 4]

In [17]:
a[0:5:2] #Takes a Jump of 2

[1, 3, 5]

In [18]:
#Reversing a string best way
a[: :-1]

[5, 4, 3, 2, 1]

In [20]:
#To check if list is a palindrome or not
if(a==a[::-1]):
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

In [27]:
s="nitin"
if(s[::-1]==s):
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

### Insert and append

In [28]:
a.insert(1,"Rishav")

In [29]:
a

[1, 'Rishav', 2, 3, 4, 5]

In [30]:
a.append("Raj")

In [31]:
a

[1, 'Rishav', 2, 3, 4, 5, 'Raj']

### pop , remove, delete

In [32]:
#pop: Removes the metioned element from the list or removes the last element from the list by DEFAULT
a.pop(3)

3

In [33]:
a.pop()
#pop() method works with the indexes

'Raj'

In [34]:
a

[1, 'Rishav', 2, 4, 5]

In [35]:
# remove method works exactly same as pop but in remove we have to pass an object as an argument.
#  remove() takes exactly one argument 
a.remove("Rishav")

In [36]:
a

[1, 2, 4, 5]

In [38]:
# del deletes the list element directly
a

[1, 2, 4, 5]

In [40]:
del a[1]

In [41]:
a

[1, 4, 5]

In [42]:
del a # removes the entire list

In [43]:
a

NameError: name 'a' is not defined

In [49]:
a=[1,3,2,9,5]

### Sort and Reverese

In [51]:
#1. Sorted:Takes the list as argument and returns the sorted list
sorted(a)

[1, 2, 3, 5, 9]

In [53]:
#2. Sort: Sorts the list and returns nothing
a.sort()
a

[1, 2, 3, 5, 9]

In [56]:
# 3. reversed: Takes list as an argument and returns the list in sorted order in descending order
for i in reversed(a):
    print(i)

9
5
3
2
1

In [62]:
# 4.reverse: Sorts the list in descending order
a.reverse()
a

[9, 5, 3, 2, 1]